.searchForm {
  color: white;
  display: block;
  margin: 0 auto;
  text-align: center;
}

.input:hover,
.mobileInput:hover {
  border-radius: 16px;
  box-shadow: 0px 24px 36px rgba(131, 153, 167, 0.99);
}
.mobileSearchForm {
  width: 100%;
  text-align: center;
}
.mobileInput {
  color: white;
  width: 300px;
  border-radius: 16px;
}
