.container {
  display: flex;
  align-items: center;
}
.filter {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(114deg)
    brightness(101%) contrast(103%);
}
.link {
  margin: 0 1rem;
  color: white;
  text-decoration: none;
}
.linkActive {
  margin: 0 1rem;
  color: rgb(239, 138, 1);
  text-decoration: none;
}
