.link {
  margin: 0 1rem;
  color: white;
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
  font-family: Helvetica, sans-serif;
  border: 1px solid #ffffff;
  padding: 10px;
  border-radius: 8px;
}
.linkActive {
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
  font-family: Helvetica, sans-serif;
  margin: 0 1rem;
  color: rgb(239, 138, 1);
  text-decoration: none;
  border: 1px solid rgb(239, 138, 1);
  padding: 10px;
  border-radius: 8px;
}
